*{box-sizing: border-box;}

.container1 {
    display: flex;
    flex-wrap: wrap;
}
.navbar {
    width: 100%;
    background-color: #D4E4EC;
    opacity: 0.5;
    position: fixed;
    overflow: hidden;
}
.navbar a {
    text-decoration: none;
    font-size: 20px;
    color: rgb(0, 0, 0);
    float: left;
}
.footer {
    background-color: rgb(83, 113, 138);
    padding: 2rem;
    text-align: center;
}