.backbox {
    background: linear-gradient(to bottom, rgb(41, 40, 36), rgb(83, 81, 72)) ;
    width: 100%;
}

/*.box {
    background-color:white;
    height: 300px;
    min-width: 60%;
    max-width: 60%;
    margin: auto;
    text-align: center;
    margin-top: 200px;
    margin-bottom: 200px;
}
.box_image {
    max-width:100%;
    max-height:100%;
    opacity: 0.4;
    margin: auto;
    object-fit: cover;
} */

.box_image {
    width:80%;
    display:block;
    z-index:3;
    opacity: 0.7;
    margin: 0px auto;
    margin-top:100px;
    margin-bottom: 100px;
    border-radius: 3rem;
    box-shadow:0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}