  
   @font-face { 
        font-family: 'Chosunilbo_myungjo'; 
        src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Chosunilbo_myungjo.woff') format('woff'); 
            font-weight: normal; 
            font-style: normal; 
        }
        @font-face { 
            font-family: 'NotoSerifKR'; 
            src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NotoSerifKR.woff') format('woff'); 
            font-weight: normal; 
            font-style: normal; 
        }
        /* font-family: 'hanna', serif; 
        font-family: 'nanum Pen Script', serif;
        font-family: 'hanna', serif;*/
        /*<img src="example1.jpg" style="width:100%; max-width:1000px; vertical-align: middle;">*/
        /* rgb(244, 235, 231) */



        html{
            /* background-color:rgb(244, 235, 231) */
            background-color: black;
        }


        .flex-container { 
            display: flex; 
            flex-direction: column; 
            /* flex-direction: row | row-reverse | column | column-reverse */ 
            justify-content: space-around; 
            /* justify-content: flex-start | center | flex-end | space-between | space-around | space-evenly */ 
            flex-wrap: wrap;
            align-items: center;
            height:2000px;
            width:100%;
            /* background-color:rgb(244, 235, 231); */
            background-color: black;
            /*background-color: rgba(0,0,0.4);*/
        }

        /* 메인 사진 */
        .flex-container>.flex-item-main1{
            background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),url("{% static '10_16_main.jpg' %}");
            background-position: center;
            background-size: cover;
            background-color:rgb(34, 0, 88);
            /* flex-grow:0; */
            /* flex-direction: column;  */
            height:16.6%;
            width:100%;
            overflow: hidden;
            /* text-align: center;  */
            vertical-align: middle;
            display: flex;
            align-items: center;
            justify-content: center;
            /* padding-bottom:-30%; */
        }

        .flex-container>.flex-item-main2{
            background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),url("{% static '10_17_main.jpg' %}");
            background-position: center;
            background-size: cover;
            background-color:rgb(34, 0, 88);
            /* flex-grow:0; */
            /* flex-direction: column;  */
            height:16.6%;
            width:100%;
            overflow: hidden;
            /* text-align: center;  */
            vertical-align: middle;
            display: flex;
            align-items: center;
            justify-content: center;
            /* padding-bottom:-30%; */
        }

        .flex-container>.flex-item-main3{
            background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),url("{% static '10_18_main.png' %}");
            background-position: center;
            background-size: cover;
            background-color:rgb(34, 0, 88);
            /* flex-grow:0; */
            /* flex-direction: column;  */
            height:16.6%;
            width:100%;
            overflow: hidden;
            /* text-align: center;  */
            vertical-align: middle;
            display: flex;
            align-items: center;
            justify-content: center;
            /* padding-bottom:-30%; */
        }

        /* 가수 사진 */
        .flex-container>.flex-item-time{
            flex-grow:0;
            height:16.6%;
            width:100%;
            overflow: hidden;
            text-align: center;  
            
            display: flex;
            flex-direction: row; 
            justify-content: space-around; 
            /*flex-wrap: wrap;*/
            align-items: center;
        }

        /* 메인 사진의 작은 박스 */
        /* .small-item{
            flex-grow:0;
            height:33.3%;
            width:100;
            overflow: hidden;
            font-family: 'Cursive', 'hanna', serif;
            color:white;
        } */

        .small-item-name{
            flex-grow:0;
            overflow: hidden;
            font-family: times, impact, 'hanna', serif;
            color: white;
            vertical-align: middle;
            font-size: 2em;   
        }

        /* 가수 시간의 작은 박스 */
        .flex-container>.flex-item-time>.small-item{
            flex-grow:0;
            height:90%;
            width:25%;
            max-width:600px;
            overflow: hidden;
            font-family: times, 'NotoSerifKR', 'Chosunilbo_myungjo', 'hanna';
            color: white;
            font-size:1.3rem;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .flex-container>.flex-item-time>.small-item-about{
            /* background-color:rgb(244, 235, 231); */
            flex-grow:0;
            overflow: hidden;
        }

