{% load staticfiles %}
<!DOCTYPE html>
<html lang="kr">
<head>
    <!-- meta -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- 부트스트랩 링크-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- base.css 링크 -->
    <link rel="stylesheet" type="text/css" href="{% static 'festival/base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'festival/index.css' %}">
    {% block head %}   
    {% endblock %}
</head>



<body>
    <div class="container1">
        <div class="navbar">
            <a href="#">one</a>
            <a href="#">two</a>
            <a href="#">three</a>
            <a href="#">four</a>
        </div>
        {% block content %}   
        {% endblock %}
    </div>

    <div class="footer">
        <h5>경상대학교 대동제</h5>
        <h6>made by 경상대 멋쟁이사자처럼</h6>
    </div>
</body>
</html>