{% load staticfiles %}
<!DOCTYPE html>
<html lang="kr">
<head>
    <!-- meta -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- 부트스트랩 링크-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <!-- base.css 링크 -->
    <link rel="stylesheet" type="text/css" href="{% static 'festival/base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'festival/index.css' %}">
    {% block head %}   
    {% endblock %}
</head>



<body>
    <div class="container1">
        <div class="navbar">
            <a href="#" class="main_logo">대동제</a>
            <a href="#">축제일정</a>
            <a href="#">푸드트럭</a>
            <a href="#">가수무대</a>
            <!--nav표지말은 약간의 의논 필요-->
        </div>
        <!--bootstrap external contents-->
        {% block content %}   
        {% endblock %}
    </div>

    <div class="footer">
        <h5>경상대학교 대동제</h5>
        <h6>made by 경상대 멋쟁이사자처럼</h6>
    </div>
</body>
</html>