{% extends 'base.html' %}
{% load staticfiles %}
{% block head %}
<!-- foodtruck.css링크-->
<link rel="stylesheet" type="text/css" href="{% static 'festival/foodtruck.css' %}">
<!-- j쿼리 -->
<script type="text/javascript" src="http://code.jquery.com/jquery-1.12.4.min.js"></script>
{% endblock %}


{% block content %}
<!-- header -->
<a href="#truck_1" class="header_a">
    <div class="ft_header">
        <div class="ft_header_title">
            <h1>Food Truck</h1>
            <h3>경상대 축제 푸드트럭 메뉴 & 위치</h3>
        </div>
    </div>
</a>


<!-- 푸드트럭 정보 -->
<div class="foodtruck">
    <div class="truck" id="truck_1">
            <h1 class="truck_title">가게명</h1>
        <hr>
        <div class="truck_total">
            <div class="truck_top">
                <div class="truck_top_left">
                    <h1 class="truck_subtitle">트럭</h1>
                    <div class="truck_top_image">
                        <img src="{% static 'tk1.png' %}">
                    </div>
                </div>
                <div class="truck_top_right">
                    <h1 class="truck_subtitle title1">위치</h1>
                    <h1 class="truck_subtitle title2">메뉴</h1>
                    <div class="truck_top_image">
                        <img src="{% static 'tk1_loc.jpg' %}">
                    </div>
                </div>
            </div>
            <div class="truck_bottom">
                <h1 class="truck_subtitle">대표 메뉴</h1>
                <div class="truck_bottom_contents">
                    <div class="truck_bottom_img">
                        <div class="tbi1">
                            <img src="{% static 'tk1_food1.png' %}" >
                        </div>
                        <div class="tbi2">
                            <p>음식이름<br>(5,000원)</p>
                        </div>
                    </div>
                    <div class="truck_bottom_img">
                        <div class="tbi1">
                            <img src="{% static 'tk1_food1.png' %}" >
                        </div>
                        <div class="tbi2">
                            <p>음식이름<br>(5,000원)</p>
                        </div>
                    </div>
                    <div class="truck_bottom_img">
                        <div class="tbi1">
                            <img src="{% static 'tk1_food1.png' %}" >
                        </div>
                        <div class="tbi2">
                            <p>음식이름<br>(5,000원)</p>
                        </div>
                    </div>
                    <div class="truck_bottom_img">
                        <div class="tbi1">
                            <img src="{% static 'tk1_food1.png' %}" >
                        </div>
                        <div class="tbi2">
                            <p>음식이름<br>(5,000원)</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


        
        
    <div class="truck" id="truck_2">
        <h1 class="truck_title">가게명</h1>
        <hr>
        <div class="truck_total">
            <div class="truck_top">
                <div class="truck_top_left">
                    <h1 class="truck_subtitle">트럭</h1>
                    <div class="truck_top_image">
                        <img src="{% static 'tk2.png' %}">
                    </div>
                </div>
                <div class="truck_top_right">
                    <h1 class="truck_subtitle title1">위치</h1>
                    <h1 class="truck_subtitle title2">메뉴</h1>
                    <div class="truck_top_image">
                        <img src="{% static 'tk2_loc.jpg' %}">
                    </div>
                </div>
            </div>
            <div class="truck_bottom">
                <h1 class="truck_subtitle">대표 메뉴</h1>
                <div class="truck_bottom_contents">
                    <div class="truck_bottom_img">
                        <div class="tbi1">
                            <img src="{% static 'tk2_food1.png' %}">
                        </div>
                        <div class="tbi2">
                            <p>음식이름<br>(5,000원)</p>
                        </div>
                    </div>
                    <div class="truck_bottom_img">
                        <div class="tbi1">
                            <img src="{% static 'tk2_food1.png' %}">
                        </div>
                        <div class="tbi2">
                            <p>음식이름<br>(5,000원)</p>
                        </div>
                    </div>
                    <div class="truck_bottom_img">
                        <div class="tbi1">
                            <img src="{% static 'tk2_food1.png' %}">
                        </div>
                        <div class="tbi2">
                            <p>음식이름<br>(5,000원)</p>
                        </div>
                    </div>
                    <div class="truck_bottom_img">
                        <div class="tbi1">
                            <img src="{% static 'tk2_food1.png' %}">
                        </div>
                        <div class="tbi2">
                            <p>음식이름<br>(5,000원)</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
{% endblock %}



{% block script %}
{% endblock %}