{% extends 'base.html' %}
{% load staticfiles %}
{% block head %}
<!-- foodtruck.css링크-->
<link rel="stylesheet" type="text/css" href="{% static 'festival/foodtruck.css' %}">
{% endblock %}


{% block content %}
<!-- header -->
<div class="ft_header">
    <div class="ft_header_title">
        <h1>Food Truck</h1>
        <h3>경상대 축제 푸드트럭 메뉴 & 위치</h3>
    </div>
</div>


<!-- 푸드트럭 정보 -->
<div class="truck">
    <div class="tk">
        <h1 class="ft_title">가게명</h1>
        <hr>
        <div class="tk_contents">
            <div class="c1">
                <h1 class="tk_txt">위치</h1>
                <img src="{% static 'likelion.png' %}" class="c1_img">
                <img src="{% static 'likelion.png' %}" class="c1_img">
            </div>
            <div class="c2">
            </div>
            <div class="c3">  
                <h1 class="tk_txt">메뉴</h1>
                <div class="eat">
                    <div class="c3_set">
                        <div class="c3_menu">
                            <img src="{% static 'likelion.png' %}" class="c3_img">
                            <div class="c3_txt">음식이름<br>5,000원</div>
                        </div>
                    </div>
                    <div class="c3_set">
                            <div class="c3_menu">
                            <img src="{% static 'likelion.png' %}" class="c3_img">
                                <div class="c3_txt">음식이름<br>5,000원</div>
                            </div>
                    </div>
                    <div class="c3_set">
                            <div class="c3_menu">
                            <img src="{% static 'likelion.png' %}" class="c3_img">
                                <div class="c3_txt">음식이름<br>5,000원</div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}