{% extends 'base.html' %}
{% load static %}
{% block head %}
<title>타이틀</title>

<script>

</script>
{% endblock %}


{% block content %}
<!--축제페이지 메인화면, 메인사진-->
<div class="main_image">
    <div class="inner">
        <header>2019 대동제</header>
    </div>
</div>
<!--축제 프로그램 사진별-->
<div class="backbox">
    <!--
    <a href="#"><img class="box_image" src="{% static 'festival/004.jpg' %}" alt="program"></a>
    <a href="#"><img class="box_image" src="{% static 'festival/sing.jpg' %}" alt="program"></a>
    <a href="#"><img class="box_image" src="{% static 'festival/foodtruck.jpg' %}" alt="program"></a>
    -->
    <div class="festa"></div>
    <div class="foodtruck"></div>
    <div class="sing"></div>
</div>
{% endblock %}