{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'festival/index.css' %}">
<title>타이틀</title>
<script type="text/javascript" src="http://code.jquery.com/jquery-1.12.4.min.js"></script>

<!---->
<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/css/swiper.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/js/swiper.min.js"></script>

{% endblock %}


{% block content %}
<!--축제페이지 메인화면, 메인사진-->
<div class="swiper-container">
    <div class="swiper-wrapper">
        <!--메인 화면-->
        <div class="swiper-slide"> 
            <div class="main_image">
                <div class="inner">
                    <header>대동제</header>
                    <p class="univ">경상대학교 축제</p>
                    <p class="date">10.16 ~ 10.18</p>
                </div>
            </div>
        </div>
        <!--서브 화면-->
        <div class="swiper-slide">
            <div class="festa"><div class = "click"><a class="click" href="{% url 'scprogram'%}">축제일정</a></div></div>
        </div>
        <div class="swiper-slide">
            <div class="foodtruck"><div class = "click"><a class = "click" href="{% url 'foodtruck'%}">푸드트럭</a></div></div>
        </div>
        <div class="swiper-slide">
            <div class="sing"><div class = "click"><a class = "click" href="{% url 'singer'%}">라인업</a></div></div>
        </div>
    </div>
    <!-- 페이징 -->
    <div class="swiper-pagination"></div>
</div>


<!-- 네비게이션   -->
   <!--    <div class="swiper-button-next"></div>다음 버튼 (오른쪽에 있는 버튼) -->
   <!--<div class="swiper-button-prev"></div> 이전 버튼 -->

{% endblock %}


{% block script %}
<!--
<script type="text/javascript">
    window.onload = function () {
        var elm = ".festa, .sing, .foodtruck, .main_image";
        $(elm).each(function (index) {
            // 개별적으로 Wheel 이벤트 적용
            $(this).on("mousewheel DOMMouseScroll", function (e) {
                e.preventDefault();
                var delta = 0;
                if (!event) event = window.event;
                if (event.wheelDelta) {
                    delta = event.wheelDelta / 120;
                    if (window.opera) delta = -delta;
                } 
                else if (event.detail)
                    delta = -event.detail / 3;
                var moveTop = $(window).scrollTop();
                var elmSelecter = $(elm).eq(index);
                // 마우스휠을 위에서 아래로
                if (delta < 0) {
                    if ($(elmSelecter).next() != undefined) {
                        try{
                            moveTop = $(elmSelecter).next().offset().top;
                        }catch(e){}
                    }
                // 마우스휠을 아래에서 위로
                } else {
                    if ($(elmSelecter).prev() != undefined) {
                        try{
                            moveTop = $(elmSelecter).prev().offset().top;
                        }catch(e){}
                    }
                }
                 
                // 화면 이동 0.2초(200)
                $("html,body").stop().animate({
                    scrollTop: moveTop + 'px'
                }, {
                    duration: 500, complete: function () {
                    }
                });
            });
        });
    }
-->

<script>

var mySwiper = new Swiper ('.swiper-container', {
    // Optional parameters
    direction: 'horizontal',
    loop: false,
    mouse:true,
    spaceBetween:30,
    slidesPerView:1,

    // If we need pagination
    pagination: {
      el: '.swiper-pagination',
      clickable:true,
    },

    // Navigation arrows
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },

    // And if we need scrollbar
    scrollbar: {
      el: '.swiper-scrollbar',
    },
  })

</script>


{% endblock %}