<!DOCTYPE html>

{% load staticfiles %}

<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{% static 'sc_style.css' %}">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Amatic+SC|Caveat|Courgette|Fredoka+One|Indie+Flower|Jua|Nanum+Brush+Script|Orbitron|Patrick+Hand|Permanent+Marker|Satisfy|Sunflower:300" rel="stylesheet">
    <title>학생회 프로그램</title>
</head>

<body>
    <img id="upperimg" src="{% static 'balloon-1373161_1920.jpg' %}">
    <br>
    <div class="menu_flex_container">
        <!--버튼으로 교체?? 누르면 스크롤 js로 하는 건가?? // 일단 위치 설정만 해놓고 안에 글자 가운데 정렬 등 수정하자!-->
        <div class="menu_flex_item"><a href="#target0" class="scroll">공통</a></div>
        <div class="menu_flex_item"><a href="#target1" class="scroll">10.16</a></div>
        <div class="menu_flex_item"><a href="#target2" class="scroll">10.17</a></div>
        <div class="menu_flex_item"><a href="#target3" class="scroll">10.18</a></div>

    </div>


    
    <div id="target0">
    <div class="flex_container">
        <!--<div class="flex_item_time">시간</div>
        <div class="flex_item_contents">일정</div>-->
        <table>
            <caption class="table_title">공통</caption>
            <thead>
                <tr>
                    <th class="time">시각</th>
                    <th>행사</th>
                    <th class="time">장소</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>10:00~17:00</td>
                    <td>스탬프 투어(도장 3개 이상 응모 가능)</td>
                    <td>중앙도서관 앞 부스</td>
                </tr>
                <tr>
                    <td colspan="3">
                        ♤ 부스 체험 후 스탬프 도장을 모아주세요! 3개의 스탬프를 다 모르면 푸짐한 경품들이 팡! 팡 터집니다!
                    </td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>2 내용</td>
                    <td>1 장소</td>
                </tr>
            </tbody>
        </table>
    </div>
    </div>


    <div id="target1">
        <div class="flex_container">
            <!--<div class="flex_item_time">시간</div>
            <div class="flex_item_contents">일정</div>-->
            <table>
                <caption class="table_title">10월 16일</caption>
                <thead>
                    <tr>
                        <th class="time">시각</th>
                        <th>행사</th>
                        <th class="time">장소</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>1 내용</td>
                        <td>1 장소</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>2 내용</td>
                        <td>1 장소</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div id="target2">
    <div class="flex_container">
            <!--<div class="flex_item_time">시간</div>
            <div class="flex_item_contents">일정</div>-->
            <table>
                <caption class="table_title">10월 17일</caption>
                <thead>
                    <tr>
                        <th class="time">시각</th>
                        <th>행사</th>
                        <th class="time">장소</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>1 내용</td>
                        <td>1 장소</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>2 내용</td>
                        <td>1 장소</td>
                    </tr>
                </tbody>
            </table>
    </div>
    </div>



    <div id="target3">
    <div class="flex_container">
            <!--<div class="flex_item_time">시간</div>
            <div class="flex_item_contents">일정</div>-->
            <table>
                <caption class="table_title">10월 18일</caption>
                <thead>
                    <tr>
                        <th class="time">시각</th>
                        <th>행사</th>
                        <th class="time">장소</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>1 내용</td>
                        <td>1 장소</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>2 내용</td>
                        <td>2 장소</td>
                    </tr>
                    
                </tbody>
            </table>
    </div>
    </div>


    <script>
        jQuery(document).ready(function($) {
            $(".scroll").click(function(event){            
                event.preventDefault();
                $('html,body').animate({scrollTop:$(this.hash).offset().top}, 500);
            });
        })
    </script>
</body>

</html>