{% extends 'base.html' %}
{% load staticfiles %}
{% block head %}
<!-- 이곳에 head태그 관련 내용 추가-->
<!-- css file -->
<link rel="stylesheet" type="text/css" href="{% static 'festival/singer.css' %}">

<!-- font-family -->
<link href="http://fonts.googleapis.com/earlyaccess/nanumpenscript.css" rel="stylesheet">
<link href="http://fonts.googleapis.com/earlyaccess/hanna.css" rel="stylesheet"> 
<link href="http://fonts.googleapis.com/earlyaccess/notosanskr.css" rel="stylesheet">
{% endblock %}



{% block content %}
<div class="flex-container"> 
    <!-- 메인 사진 -->
    <div class="flex-item-main1">
        <div class="small-item-name">EXO</div>
    </div>

    <!-- 가수 시간 -->
    <div class="flex-item-time"> 
        <div class="small-item">
            <div class="small-item-about">
                EXO<br><br>
                SM Entertainment<br><br>
                Tempo
            </div>
        </div>
        <div class="small-item" style="width:50%;"><img src="{% static '10_16_profile.jpg' %}"  style="height:100%;"></div>
        <div class="small-item">
            <div class="small-item-about">
                10/16 WED<br>
                8 p.m.<br><br>
            </div>
        </div>
    </div> 

    <!-- 메인 사진 -->
    <div class="flex-item-main2">
        <div class="small-item-name">IU</div>
    </div> 

    <!-- 가수 시간 -->
    <div class="flex-item-time">
        <div class="small-item">
            <div class="small-item-about">
                아이유<br><br>
                카카오M<br><br>
                삐삐
            </div>
        </div>
        <div class="small-item" style="width:50%;"><img src="{% static '10_17_profile.jpg' %}" style="height:100%; "></div>
        <div class="small-item">
            <div class="small-item-about">
                10/17 THU<br>
                8 p.m.<br><br>
            </div>
        </div>
    </div>

    <!-- 메인 사진 -->
    <div class="flex-item-main3">
        <div class="small-item-name">Red Velvet</div>
    </div> 

    <!-- 가수 시간 -->
    <div class="flex-item-time">
        <div class="small-item">
            <div class="small-item-about">
                Red Velvet<br><br>
                SM Entertainment<br><br>
                짐살라빔
            </div>
        </div>
        <div class="small-item" style="width:50%;"><img src="{% static '10_18_profile.jpg' %}" style="height:100%;"></div>
        <div class="small-item">
            <div class="small-item-about">
                10/18 FRI<br>
                8 p.m.<br><br>
            </div>
        </div>
    </div>
</div>
{% endblock %}